/* DO NOT CHANGE THIS ROOT CLASS NAME*/
#task-1 {
  /* Styles goes here */
  .row-container{
    margin: 8px 8px;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
  }
  .item-container{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
  }
  .label {
    font-size: larger;
    font-weight: 600;
    padding-right: 16px;
  }
  .submit-button {
    font-size: larger;
    width: 25%;
    border-radius: 5px;
    background-color: rgb(75, 226, 138);
    &:hover{
     background-color: #a4c4f0;
    }
  }
  .error{
      color: red;
      border-color: red;
  }
}
